

#sample-para{
    font-size: 30px;
    color: blue;
/*    font-weight: bolder; bolder than parent boldness*/
    font-weight: 700;
    text-align: justify;
    line-height: 40px;
    word-spacing: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}


